apiVersion: v1
stringData:
  additional-scrape-config.yaml: >-
    - job_name: "prometheus_federated"
      scrape_interval: 20s
      scrape_timeout: 19s
      metrics_path: "/metrics"
      static_configs:
       - targets: ["localhost:9090"]
         labels:
            cluster: 'apps.{{ cluster_name }}.{{ install_config.base_domain }}'

    - job_name: "openshift-monitoring"
      honor_labels: true
      scrape_interval: 80s
      scrape_timeout: 79s
      metrics_path: "/federate"
      bearer_token_file: /etc/prometheus/secrets/app-prometheus-bearer-token/app-prometheus-bearer-token
      tls_config:
        ca_file: /etc/prometheus/configmaps/serving-certs-ca-bundle/service-ca.crt
        server_name: "https://prometheus-k8s-openshift-monitoring.apps.{{ cluster_name }}.{{ install_config.base_domain }}"
        insecure_skip_verify: true
      static_configs:
       - targets: ["prometheus-k8s-openshift-monitoring.apps.{{ cluster_name }}.{{ install_config.base_domain }}:443"] 
         labels:
            cluster: 'apps.{{ cluster_name }}.{{ install_config.base_domain }}'
      scheme: https
      params:
        'match[]': 
          - '{__name__=~"cluster.+"}'
          - '{__name__=~"container.+"}'
          - '{__name__=~"kube.+"}'
          - '{__name__=~"mixin_pod.+"}'
          - '{__name__=~"node.+"}'
          - '{__name__=~"instance.+"}'
          - '{__name__=~".+"}'
    - job_name: "istio-control-plane"
      honor_labels: true
      scrape_interval: 15s
      scrape_timeout: 15s
      metrics_path: "/federate"
      basic_auth: 
          username: internal
          password_file: "/etc/prometheus/secrets/istio-prometheus-password/istio-prometheus-password"
      tls_config:
        server_name: "https://prometheus-istio-system.apps.{{ cluster_name }}.{{ install_config.base_domain }}"
        insecure_skip_verify: true
      static_configs:
       - targets: ["prometheus-istio-system.apps.{{ cluster_name }}.{{ install_config.base_domain }}"] 
         labels:
            cluster: 'apps.{{ cluster_name }}.{{ install_config.base_domain }}'
      scheme: https
      params:
        'match[]': 
          - '{__name__=~"cluster.+"}'
          - '{__name__=~"container.+"}'
          - '{__name__=~"kube.+"}'
          - '{__name__=~"mixin_pod.+"}'
          - '{__name__=~"node.+"}'
          - '{__name__=~"instance.+"}'
          - '{__name__=~"workload:(.*)"}'
          - '{__name__=~"pilot(.*)"}'
          - '{__name__=~"istio(.*)"}'
          - '{__name__=~"envoy(.*)"}'
          - '{__name__=~".+"}'
kind: Secret
metadata:
  name: app-prometheus-scrape-configs
  namespace: federated-prometheus
