apiVersion: v1
kind: Secret
metadata:
  name: "{{cluster_name}}-aws-creds"
  namespace: "{{ cluster_name }}"
type: Opaque
data:
  aws_access_key_id: "{{ aws.aws_access_key_id | b64encode }}"
  aws_secret_access_key: "{{ aws.aws_secret_access_key | b64encode }}"