apiVersion: v1
kind: Secret
metadata:
  name: "{{ cluster_name }}-pull-secret"
  namespace: "{{ cluster_name }}"
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: '{{ install_config.pull_secret }}'