apiVersion: v1
kind: Secret
metadata:
  name: "{{ cluster_name }}-install-config-secret"
  namespace: "{{ cluster_name }}"
type: Opaque
data:
  # Base64 encoding of install-config yaml
  install-config.yaml: "{{ lookup('file', '{{ install_dir.path }}/install-config.yaml') | b64encode }}"
