kind: Secret
apiVersion: v1
metadata:
  name: ocp-gitops-config-git
  namespace: loki
data:
  password: {{ gitops.ocp_infra_config_username }}
  username: {{ gitops.ocp_infra_config_password }}
type: Opaque