---
apiVersion: v1
kind: Secret
metadata:
  name: default-pull-secret
  namespace: {{ rhacm_namespace }}
data:
  .dockerconfigjson: >-
    {{ install_config.pull_secret | to_json | b64encode }}
type: kubernetes.io/dockerconfigjson
...
